# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.continuum.io/pkgs/free/linux-64/backports-1.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/backports_abc-0.5-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bcftools-1.3.1-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/bcolz-1.0.0-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bottle-0.12.9-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bx-python-0.7.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cairo-1.12.18-6.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/curl-7.45.0-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cycler-0.10.0-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/cyordereddict-0.2.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cython-0.25.2-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/cyvcf2-0.5.5-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/dbus-1.10.10-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/decorator-4.0.10-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/enum34-1.1.6-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/et_xmlfile-1.0.1-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/expat-2.1.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/fontconfig-2.11.1-6.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/freetype-2.5.5-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/futures-3.0.5-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/gemini-0.19.1-py27_3.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/geneimpacts-0.2.0-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/get_terminal_size-1.0.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/glib-2.43.0-1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/grabix-0.1.7-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/gst-plugins-base-1.8.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/gstreamer-1.8.0-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/htslib-1.3.1-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/icu-54.1-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/inheritance-0.1.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ipykernel-4.5.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ipyparallel-5.2.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ipython-5.1.0-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/ipython-cluster-helper-0.5.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ipython_genutils-0.1.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jdcal-1.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jinja2-2.8-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jpeg-8d-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jupyter_client-4.4.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jupyter_core-4.2.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libffi-3.2.1-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libgcc-5.2.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libgfortran-3.0.0-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libpng-1.6.22-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libsodium-1.0.10-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libxcb-1.12-1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/libxml2-2.9.3-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/markupsafe-0.23-py27_2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/matplotlib-1.5.3-np111py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/mkl-11.3.3-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/netifaces-0.10.4-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/networkx-1.11-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/nomkl-1.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/numexpr-2.6.1-np111py27_nomkl_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/numpy-1.11.2-py27_nomkl_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openblas-0.2.14-4.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/openpyxl-2.4.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openssl-1.0.2j-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pandas-0.19.1-np111py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/path.py-8.2.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pathlib2-2.1.0-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/peddy-0.2.5-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pexpect-4.0.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pickleshare-0.7.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pip-9.0.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pixman-0.32.6-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/prompt_toolkit-1.0.9-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ptyprocess-0.5.1-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/pybedtools-0.7.8-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pycairo-1.10.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pygments-2.1.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyparsing-2.1.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyqt-5.6.0-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/pysam-0.9.1.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-2.7.12-1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/python-dateutil-2.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-snappy-0.5-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pytz-2016.7-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyyaml-3.12-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyzmq-16.0.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/qt-5.6.0-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/readline-6.2-2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/samtools-1.3.1-5.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scikit-learn-0.18.1-np111py27_nomkl_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scipy-0.18.1-np111py27_nomkl_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/seaborn-0.7.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/setuptools-27.2.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/simplegeneric-0.8.1-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/singledispatch-3.4.0.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sip-4.18-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/six-1.10.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/snappy-1.1.3-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sqlalchemy-1.1.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sqlite-3.13.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ssl_match_hostname-3.4.0.2-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/tk-8.5.18-0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/toolshed-0.4.6-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/tornado-4.4.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/traitlets-4.3.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/unidecode-0.04.19-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/vcf2db-2016.11.08-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/wcwidth-0.1.7-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/wheel-0.29.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/yaml-0.1.6-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/zeromq-4.1.5-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/zlib-1.2.8-3.tar.bz2
